html{
    padding: 0;
    margin: 0;
    background-image: url(./img/bg.jpg);
    background-position: 100% 100%;
    /* width: 3136px;
    height: 4488px; */
    width: 100%;
    background-position: 100%;
}
.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slide{
    position: absolute;
    width: 150px;
    height: 170px;
    top: 20%;
    left: calc(50% - 100px);
    transform-style:preserve-3d ;
    transform: perspective(1000px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-15deg) rotateY(0deg);
    }
    to{
        transform: perspective(1000px) rotateX(-15deg) rotateY(360deg);
    }
}
.banner .slide .item{
    position: absolute;
    inset: 0 0 0 0;

    transform: 
    rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg))
    translateZ(450px);
}
.banner .slide .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content{
    position: absolute;
    bottom: -120px;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    font-size: 16em;
    line-height: 1em;
    color: #25283b;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}

.banner .content .author{
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
}
.banner .content .model{
    background-image: url(./img/ncancw.png);
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

